.header {
    background: #fff;
    border-bottom: 1px solid #eaeaea;
    color: #1F2020;
    font-size: 14px;
    overflow: hidden;

    &__container {
      width: 100%;
      margin: 0 auto;
      padding: 20px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    //burger menu
    .burger{
      display: none;
      //display: flex;
      position: relative;
      z-index: 50;
      // align-items: center;
      // justify-content: flex-end;
      flex-direction: column;
      justify-content: center;
      width: 30px;
      height: 18px;
      cursor: pointer;
      span{
        height: 2px;
        width: 100%;         
        background-color: #1F2020;
        transition: all 0.3s ease;
      }
  }
  .burger::before, .burger::after{
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: #1F2020;
      transition: all 0.3s ease 0s;
  }
  .burger::before { top: 0 }
  
  .burger::after { bottom: 0 }

  .burger.active span { transform: scale(0) }

  .burger.active::before{
      top: 50%;
      transform: rotate(-45deg) translate(0, -50%);
  }

  .burger.active::after{
      bottom: 50%;
      transform: rotate(45deg) translate(0, 50%);
  }
    //burger menu


    &__logo {
      font-size: 20px;
      color: #1F2020;
      position: relative;
      cursor: pointer;
    }
  
    &__dot {
      display: inline-block;
      color: #1F2020;
      margin-left: 2px;
      margin-bottom: 10px;
      width: 8px;
      height: 8px;
      position: absolute;
      top: -5px; 
    }
  
    &__nav {
      display: flex;
      gap: 20px;
    }
  
    &__link {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      text-decoration: none;
      color: #1F2020;
      transition: color 0.2s;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
    }
  
    &__contacts {
      text-align: right;
  
      & > .header__phone {
        font-weight: 500;
        font-size: 16px;
      }
  
      & > .header__callback {
        color: #999;
        text-align: justify;
      }
    }
  
    &__icons {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-right: 50px;
    }
  
    &__icon {
      width: 24px;
      height: 24px;
      background: none;
      border: none;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
  
      &--search {
        background-image: url('/assets/icons/search.svg');
      }
  
      &--user {
        background-image: url('/assets/icons/user.svg');
      }
  
      &--favorite {
        background-image: url('/assets/icons/heart.svg');
      }
      &--card {
        width: 24px;
        height: 24px;
        background-color: #75b59e;
        font-size: 14px;
        border: none;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .header__cart-count{
          color: #000; 
        }
      }
    }
  }
  

@media (max-width: 1090px) {
    .burger { display: flex !important }
    .header__nav, .header__contacts{
      display: none;
    }
    .header__icon--search, .header__icon--user, .header__icon--favorite{
      display: none;
    }
}

.burger-menu{
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 500;
  overflow-y: auto;
  padding: 50px 40px;
  background-color: black;
  .burger-menu__wrapper{
    color: #eaeaea;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    position: relative;
    .burger-menu__close-btn{
      width: 48px;
      height: 48px;
      cursor: pointer;
      color: #e0e0e0;
      font-size: 40px;
      background-color: transparent;
      border: 0;
      position: absolute;
      top: -30px;
      right: 50px;
    }
    .burger-menu__nav{
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 20px;
      .burger-menu__link{
        text-transform: uppercase;
        letter-spacing: 0.05em;
        text-decoration: none;
        color: #fff;
        transition: color 0.2s;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
      }
    }
    .burger-menu__contacts{
      margin-bottom: 20px;
      .burger-menu__callback{
        color: #999;
      }
    }
    .burger-menu__icons{
      display: flex;
      align-items: center;
      gap: 20px;
      margin-right: 50px;
      .burger-menu__icon{
        width: 24px;
        height: 24px;
        background: none;
        border: none;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
      }
      .burger-menu__icon--search {
        background-image: url('/assets/icons/search-light.svg');
      }
  
      .burger-menu__icon--user {
        background-image: url('/assets/icons/profile-light.svg');
      }
  
      .burger-menu__icon--favorite {
        background-image: url('/assets/icons/heart-light.svg');
      }
    }
  }
}

.burger-menu-active{
  display: block !important;
}