.sidebar-filters{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 100px;
    margin-top: 10px;
    .sidebar-filters__toggle-wrapper{
        display: flex;
        align-items: baseline;
        height: 22px;
        gap: 15px;
        .sidebar-filters__toggle{
            position: relative;
            width: 36px;
            height: 22px;
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            gap: 80px;
            .sidebar-filters__switcher{
                position: absolute;
                background: #F2F2F2;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                cursor: pointer;
                border-radius: 30px;
            }
            .sidebar-filters__switcher:before{
                content: "";
                position: absolute;
                height: 8px;
                width: 8px;
                background: #1F2020;
                top: 6px;
                left: 6px;
                border-radius: 50%;
                transform: .3s ease;
            }
        }
        .sidebar-filters__label{
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 0.05em;
            align-self: center;

        }
        .sidebar-filters__toggle input{
            width: 0;
            height: 0;
        }
        .sidebar-filters__toggle input:checked + .sidebar-filters__switcher{
            background: #7BB899;
        }
        .sidebar-filters__toggle input:focus + .sidebar-filters__switcher{
            box-shadow: 0 0 2px 0 #7BB899;
        }
        .sidebar-filters__toggle input:checked + .sidebar-filters__switcher:before{
            transform: translateX(15px);
        }
    }
}

.filtration-menu-button{
    display: none;
    cursor: pointer;
    color: #1f2020;
    display: flex;
    gap: 6px;
    align-items: center;
    border: 0;
    background-color: transparent;
    text-transform: uppercase;
}

@media (max-width: 900px) {
    .sidebar-filters-hidden{
        display: none;
    }

    .sidebar-filters {
        background: white;
        border-radius: 120px 120px 0 0 !important;
        padding: 50px;
        position: fixed;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 100%;
        background: white;
        border-radius: 16px 16px 0 0;
        padding-left: 90px !important;
        z-index: 9999;
        padding-bottom: 100px;
      }
      .sidebar-filters::after {
        content: "";
        display: block;
        margin: 0 auto;
        margin-top: 8px;
        width: 40px;
        height: 4px;
        background-color: #999;
        border-radius: 2px;
        position: absolute;
        top: 10px;
        right: 55vw;
      }

    .products-count{
        display: none;
    }
    .filtration-menu-button{
        display: block;
        cursor: pointer;
    }
}

@media (max-width: 500px) {
      .sidebar-filters::after {
        right: 65vw;
      }
}