.sidebar-filters{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .sidebar-filters__toggle-wrapper{
        display: flex;
        align-items: baseline;
        height: 22px;
        gap: 15px;
        .sidebar-filters__toggle{
            position: relative;
            width: 36px;
            height: 22px;
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            gap: 80px;
            .sidebar-filters__switcher{
                position: absolute;
                background: #F2F2F2;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                cursor: pointer;
                border-radius: 30px;
            }
            .sidebar-filters__switcher:before{
                content: "";
                position: absolute;
                height: 8px;
                width: 8px;
                background: #1F2020;
                top: 6px;
                left: 6px;
                border-radius: 50%;
                transform: .3s ease;
            }
        }
        .sidebar-filters__label{
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 0.05em;
            align-self: center;
        }
        .sidebar-filters__toggle input{
            width: 0;
            height: 0;
        }
        .sidebar-filters__toggle input:checked + .sidebar-filters__switcher{
            background: #7BB899;
        }
        .sidebar-filters__toggle input:focus + .sidebar-filters__switcher{
            box-shadow: 0 0 2px 0 #7BB899;
        }
        .sidebar-filters__toggle input:checked + .sidebar-filters__switcher:before{
            transform: translateX(15px);
        }
    }
}