.dropdown {
    width: 200px;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 50px;
    z-index: 100;
}

.select {
    color: #1f2020;
    display: flex;
    // justify-content: space-between;
    gap: 6px;
    align-items: center;
    padding: 0.8em;
    cursor: pointer;
    background: transparent;
    border: none;
}

.select:hover {
    background: transparent;
}

.caret {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #1f2020;
    transition: 0.3s;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background: white;
    color: #1f2020;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.8em;
    cursor: pointer;
}

.menu li:hover {
    background: rgba(123, 184, 153, 0.3);
}

.active {
    background: rgba(123, 184, 153, 1);
    color: #1f2020;
}

.menu-open {
    display: block;
    opacity: 1;
}

.dropdown * {
    box-sizing: border-box;
}
