@import '../components/header/header.scss';
@import '../components/slider/slider.scss';
@import '../components/footer/footer.scss';
@import '../components/product-card-single/product-card-single.scss';
@import '../components/sidebar-filters/sidebar-filters.scss';
@import '../components/products-grid/products-grid.scss';
@import '../components/sort-menu/sort-menu.scss';
@import '../components/product-catalog/product-catalog.scss';

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}